$header-height: 55px;
$content-width: 700px;

$serif-families: "Pacifico", "Georgia", serif;
$sans-serif-families: "Helvetica", sans-serif;

$error-text-color: #B94A48;
$success-text-color: #468847;

*{
font-family: $sans-serif-families; font-size: 14px;
}

body { background-color: #f5f5f5; 

@mixin shadow($color, $x, $y, $radius) {
  -moz-box-shadow:    $color $x $y $radius;
  -webkit-box-shadow: $color $x $y $radius;
  box-shadow:         $color $x $y $radius;
}


header {
  @include shadow(#ccc, 0, 3px, 6px);
  border-bottom: 1px solid #686;
  margin-bottom: 15px;
  #header-wrap {
    width: $content-width;
    margin: 0 auto;
  }
  
  height: $header-height;
  background-color: #9ECE71;
  h1 {
	  float: left; 
	    a{
	      color: #333;
	      font-family: $serif-families;
	      font-weight: 400;
	      font-size: 2.5em;
	      &:hover {
	        color: #000;
	    }
	}
  }
}